# Google OAuth 2.0 Client ID
# Get one from https://console.cloud.google.com/apis/credentials
# This is required for Google Sign-In authentication
VITE_GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
